<!DOCTYPE html>
<html>
<head>
<title>Add Patient</title>
</head>
<body>
<h2>Add Patient</h2>

<form method="POST">
Name: <input name="name" required><br><br>
Age: <input name="age" required><br><br>
Gender: <input name="gender" required><br><br>
Contact: <input name="contact" required><br><br>

Diagnosis:<br>
<textarea name="diagnosis" required></textarea><br><br>

Prescription:<br>
<textarea name="prescription" required></textarea><br><br>

Follow-Up Date:
<input type="date" name="followup"><br><br>

<button type="submit">Save</button>
</form>

</body>
</html>
